@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #efefbb;
  background-image: linear-gradient(to right, #d4d3dd, #efefbb);
  font-family: 'Lato';
}

h1 {
  letter-spacing: 3px;
}

.pokemon-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: 0 auto;
  padding: 30px;
  max-width: 940px;
}

.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #eeeeee;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  padding: 20px;
  text-align: center;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
}

.img-container img {
  display: block;
  max-width: 100px;
  height: 100px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.number {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 0.8em;
  padding: 5px 10px;
}

.name {
  letter-spacing: 1px;
}
